<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solve It Space</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/question.css">>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #d93e5b;">
        <div class="container-fluid">
            <img src="../static/images/fc93453056354554a430b7c9694fada9-free.png" alt="logo" class="logo rounded-circle">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                </ul>
                <form class="d-flex" action="/search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_word">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
                {% if not is_logged %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="d-flex">
        <nav id="sidebar" class=" border-end" style="background-color: #7099b8;">
            <div class="p-4 pt-5">
                {% if is_logged %}
                <ul class="list-unstyled components">
                    <li>
                        <a class="btn btn-outline-light sidebar" href="/yourprofile">Your Profile</a>
                    </li>
                    <hr>
                    <li>
                        <a class="btn btn-outline-light sidebar" href="/questions/ask">Ask Question</a>
                    </li>
                    <hr>
                    <li>
                        <a class="btn btn-outline-light sidebar" href="/myquestions">My Questions</a>
                    </li>
                    <hr>
                </ul>
                {% endif %}
                <hr>
                <li>
                    <a class="btn btn-outline-light sidebar" href="/questions">Questions</a>
                </li>
                <hr>
                <li>
                    <a class="btn btn-outline-light sidebar" href="/aboutsu">About Us</a>
                </li>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="container p-4" id="main-content">
            <h1 class="title">Here is questions and answers</h1>
        <ul class="list-group">
        {% for post in posts %}
            <a class="list-group-item list-group-item-action question" href="/posts/{{post.post_id}}">{{post.title}} ({{post.time_ago}})</a>
        {% endfor %}
        </ul>
    </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>
