@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 56px; /* Height of the navbar */
  background-color: #f9f9f6; /* Light background */
}

.navbar {
  background-color: #d93e5b; /* Red */
}
.logo {
    display: flex;
    width: 50px;
    height: 50px;
  }
#sidebar {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  position: fixed;
  top: 56px; /* Adjust this value to match navbar height */
  left: 0;
  overflow-y: auto;
  z-index: 100;
  transition: all 0.3s;
  background-color: #64bedb; /* Lighter blue */
  color: #f9f9f6; /* Light background */
}

.sidebar {
  margin-left: 20px;
  margin-bottom: 10px;
}
.container {
    margin-left: 220px; /* Adjust for sidebar width */
}

/* Main Content */
.question {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
    margin-top: 25px;
}

label {
    font-weight: bold;
}

button[type="button"] {
    background-color: #d93e5b; /* Red */
    color: white;
}

button[type="button"]:hover {
    background-color: #b6364e; /* Darker red on hover */
}

/* Form input styles */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="text"]:focus, textarea:focus {
    border-color: #64bedb; /* Blue focus border */
    outline: none;
}

/* Adjusting responsive behavior for sidebar */
@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .container {
        margin-left: 0; /* No margin for smaller screens */
    }
    
    #main-content {
        margin-left: 0; /* No margin for smaller screens */
    }
}

/* Additional Elements */
.hit-voting {
    cursor: pointer;
}

.hit-voting:hover {
    color: blue;
}

.comments {
    text-decoration: underline;
    cursor: pointer;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px;
}
 .title{
    color:#0D47A1;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
  
  }