<div class="container">
    <div class="navigation">
        <ul>
           <!-- <li>
             <a href="/home">
                    <span class="icon">
                        <img src="../../static/images/logo.png.png" alt="logo" class="logo">
                    </span>
                </a>
              
            </li> -->
            <li>
                <a href="/home">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title"> صفحه اصلی</span>
                </a>
            </li>
            {% if not is_logged %}
            <li>
                <a href="/login">
                    <span class="icon">
                        <ion-icon name="log-in-outline"></ion-icon>
                    </span>
                    <span class="title"> ورود به حساب کاربری
                    </span>
                </a>
            </li>
            {% else %}
            <li>
                <a href="/logout">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title"> خروج از حساب کاربری
                    </span>
                </a>
            </li>
            {% endif %}

          
            <li>
                <a href="/yourprofile">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="title"> پروفایل</span>
                </a>
            </li>
            <li>
                <a href="/questions/ask">
                    <span class="icon">
                        <ion-icon name="duplicate-outline"></ion-icon>
                    </span>
                    <span class="title"> ثبت سوال</span>
                </a>
            </li>
            <li>
                <a href="/myquestions">
                    <span class="icon">
                        <ion-icon name="documents-outline"></ion-icon>
                    </span>
                    <span class="title"> سوالات من</span>
                </a>
            </li>
            <li>
                <a href="/notifications">
                    <span class="icon">
                        <ion-icon name="notifications-outline"></ion-icon>
                    </span>
                    <span class="title">{% if unseen_number!=0 %}<span class="unseen">{{unseen_number }}</span> {% endif %}پیام های جدید</span>
                </a>
            </li>
   
            <li>
                <a href="/questions">
                    <span class="icon">
                        <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title"> تالار گفت و گو</span>
                </a>
            </li>
        </ul>
    </div>
</div>