<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"/>
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="box">
    <form action="/login-post" method="post" ">
        <h2> Login here </h2>
        <div class="inputbox">
            <input type="email"  name="email" required="">
            <span>Username</span>      
            <i></i>
         </div>
         <div class="inputbox">
            <input type="text"  name="password" required="">
            <span>Password</span>      
            <i></i>
         </div>

         <div class="links"></div>
         <a href="#" >Forgot Password?</a>
         <a href="/signup" >sign in</a>
         <input type="submit" value="Login"/>
         <div class="method">
            <div class="method-control">
                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">Or</span>
                    <span class="striped-line"></span>
                </div>
                <a href="#" class="method-action">
                    <i class="ion ion-logo-google"></i>
                    <span>Login in with Google</span>
                </a>
                <div class="method-control">
                    <a href="#" class="method-action">
                        <i class="ion ion-logo-LinkedIn"></i>
                        <span>Login in with LinkedIn</span>
                    </a>
                </div>
            </div>
    </div>
    </form> 

</div>
</body>
</html>